body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    margin: 0;
    padding-top: 0;
}

form{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    font-size: 15px;
}

a{
    font-size: 15px;
}

.button{
    color: aliceblue;
    background-color: green;
    width: 30%;
    border-radius: 12px;
}

input{
    margin: 15px;
    border-radius: 5px;
   
}